body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    height: auto;
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: Raleway;
    src: url(./domains/fonts/Raleway-Regular.ttf);

}

@font-face {
  font-family: Raleway Bold;
  src: url(./domains/fonts/Raleway-Bold.ttf);;
}

@font-face {
  font-family: Raleway Medium;
  src: url(./domains/fonts/Raleway-Medium.ttf);;
}

@font-face {
  font-family: Raleway - Extra Bold;
  src: url(./domains/fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: FiraSans Medium;
  src: url("./domains/fonts/FiraSans-Regular.ttf");
}
@font-face {
  font-family: FiraSans Bold;
  src: url("./domains/fonts/FiraSans-Bold.ttf");
}

@font-face {
  font-family: Raleway Light;
  src: url("./domains/fonts/Raleway-Light.ttf");
}

/*
src: url(./domains/fonts/Raleway-BlackItalic.ttf);
src:
src: url(./domains/fonts/Raleway-BoldItalic.ttf);
src:
src: url(./domains/fonts/Raleway-ExtraBoldItalic.ttf);
src: url(./domains/fonts/Raleway-ExtraLight.ttf);
src: url(./domains/fonts/Raleway-ExtraLightItalic.ttf);
src: url(./domains/fonts/Raleway-Italic.ttf);
src: url(./domains/fonts/Raleway-Light.ttf);
src: url(./domains/fonts/Raleway-LightItalic.ttf);
src: src: url(./domains/fonts/Raleway-Black.ttf);
src: url(./domains/fonts/Raleway-MediumItalic.ttf);
src:
src: url(./domains/fonts/Raleway-SemiBold.ttf);
src: url(./domains/fonts/Raleway-SemiBoldItalic.ttf);
src: url(./domains/fonts/Raleway-Thin.ttf);
src: url(./domains/fonts/Raleway-ThinItalic.ttf);*/
